---
layout: layouts/property.njk
permalink: /properties/the-oasis/
propertySlug: the-oasis
pageTitle: "The Oasis \u2014 Pool, 2 Hot Tubs & Putting Green | Bradenton FL"
---
{% include "partials/save50-offer.njk" %}
