---
layout: layouts/property.njk
permalink: /properties/bradenton-pool-home/
propertySlug: bradenton-pool-home
pageTitle: "Bradenton Pool Home \u2014 Pool, Spa & 3.5 Baths | Near IMG"
---
{% include "partials/save50-offer.njk" %}
