---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for entry in collections.all %}
  {% set url = entry.url %}
  {% set entryIndexable = entry.data.seoIndexable %}
  {% set shouldIndex = entryIndexable != false and entryIndexable != 'false' %}
  {% set isStayHub = url == '/stays/' %}
  {% set isNonPaginatedStay = isStayHub or url.indexOf('/stays/') === -1 %}
  {% set isNonPaginatedPropertyManagement = url == '/property-management/' or url.indexOf('/property-management/') === -1 %}
  {% if url and url != '/404.html' and url != '/sitemap.xml' and shouldIndex and isNonPaginatedStay and isNonPaginatedPropertyManagement %}
  <url>
    <loc>{{ site.url }}{{ url }}</loc>
    <lastmod>{{ gitLastModifiedDate(entry.inputPath) }}</lastmod>
    <changefreq>{% if url == '/' or '/guides/' in url or '/properties/' in url %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if url == '/' %}1.0{% elif '/guides/' in url or '/properties/' in url %}0.8{% else %}0.7{% endif %}</priority>
  </url>
  {% endif %}
  {% endfor %}
  {% for seoPage in staysPages %}
  {% set stayIndexable = seoGovernance.staysNoindexSlugs.indexOf(seoPage.slug) === -1 %}
  {% if stayIndexable %}
  <url>
    <loc>{{ site.url }}/stays/{{ seoPage.slug }}/</loc>
    <lastmod>{{ seoPageLastModifiedDate('vacationer', seoPage.slug, 'src/stays/stays.njk', 'src/_data/staysPages.js') }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endif %}
  {% endfor %}
  {% for seoPage in seoPages.owner %}
  {% set ownerIndexable = seoPage.seoIndexable != false and seoPage.seoIndexable != 'false' %}
  {% set ownerProofSource = "" %}
  {% if seoPage.proofAssetKey %}{% set ownerProofSource = "src/_data/ownerProofAssets.json" %}{% endif %}
  {% if ownerIndexable %}
  <url>
    <loc>{{ site.url }}/property-management/{{ seoPage.slug }}/</loc>
    <lastmod>{{ seoPageLastModifiedDate('owner', seoPage.slug, 'src/property-management/property-management.njk', ownerProofSource) }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endif %}
  {% endfor %}
</urlset>
