{% if site.analytics and site.analytics.ga4MeasurementId %}
<script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.ga4MeasurementId }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.ga4MeasurementId }}');
    window.seascapeTrackEvent = function(eventName, params) {
        if (!eventName) return;
        gtag('event', eventName, params || {});
    };
</script>
{% endif %}
<script defer src="/assets/js/conversion-tracking.js"></script>
