<script>
!function(){var r=window.location&&window.location.hostname||"",i="localhost"===r||"127.0.0.1"===r||"::1"===r||"[::1]"===r;if(i)return;function e(){var e,n,t,o,a,d;window.__seascapeMetaPixelLoaded||(window.__seascapeMetaPixelLoaded=!0,e=window,n=document,t="script",e.fbq||(o=e.fbq=function(){o.callMethod?o.callMethod.apply(o,arguments):o.queue.push(arguments)},e._fbq||(e._fbq=o),o.push=o,o.loaded=!0,o.version="2.0",o.queue=[],(a=n.createElement(t)).async=!0,a.src="https://connect.facebook.net/en_US/fbevents.js",(d=n.getElementsByTagName(t)[0]).parentNode.insertBefore(a,d)),fbq("init","2748551298816267"),fbq("track","PageView"))}window.addEventListener("pointerdown",e,{once:!0,passive:!0}),window.addEventListener("keydown",e,{once:!0}),window.addEventListener("scroll",e,{once:!0,passive:!0})}();
</script>
